.author-file-editor-part-and-chapter-in-view {
    margin-left: auto;
    padding: 4px 4px 4px 12px;
    font-size: calc(var(--vscode-font-size) - 1px);
    color: var(--vscode-descriptionForeground);
    white-space: nowrap;
}
