body {
	margin: 0;
	padding: 0;
	font-family: var(--vscode-font-family);
	font-size: var(--vscode-font-size);
	color: var(--vscode-foreground);
	background: var(--vscode-editor-background);
}

.author-file-editor-canvas {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}

.author-file-editor-canvas > ul {
	flex: 1 1 auto;
	overflow-y: auto;
	margin: 0;
	padding: 6px 12px 40vh;
	list-style: none;
}
